*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    header{
    background-color: #666666;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    }
    body{
    font-family: sans-serif;
    }
    .container{
        width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    }
    a{
    text-decoration: none;
    color: #fff;
    }
    nav{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    .nav-items {
    word-spacing: 10px;
    .butt{
    width: 111px;
    height: 49px;
    border-radius: 8px;
    border-color:black ;
    background-color: #fff;
    }
    .btn{
    width: 129px;
    height: 49px;
    border-radius: 8px;
    border: none;
    background-color:#F72585 ;
    color: #fff;
    }
    }
    label{
        color: #fff;
        input{
            outline: none;
            width: 400px;
            height: 30px;
            border-radius: 6px;
            border: 1px solid #808080;
            }
    }
    }
    .sec-1{
    width: 100%;
    height: 200px;
    margin-top: 100px;
    background-color: #666666;
    .texsting{
    h4{
        padding-top: 20px;
    color: #e6e6e6;
    span{
    color: #fff;
    }
    }
    h2{
        padding-top: 100px;
    color: #fff;
    font-size: 48px;
    }
    }
    }
    .sec-2{
    width: 100%;
    height: 2400px;
    background-color: #fff;
    .sec-2-text{
        .sec-2-card{
            padding-top: 80px;
            svg{
            padding-top: 50px;
            }
           .sec-2-item{
            padding-left: 720px;
            margin-top: -450px;
            h2{
                color: #1C3554;
                width: 400px;
                }
                h5{
                    padding-top: 30px;
                color: #aaa;
                span{
                color: #aaa;
                padding-left: 20px;
                }
                }
                p{
                    padding-top: 30px;
                color: #aaa;
                width: 500px;
                }
                .read{
                width: 180px;
                height: 50px;
                margin-top: 30px;
                background-color: #F72585;
                color: #fff;
                border: none;
                border-radius: 8px;
                cursor: pointer;
                }
                .read:hover{
                background-color: #fff;
                color: #F72585;
                border: 1px solid #F72585;
                transition: 1s;
                }
                
        }
            }
            .svgies{
                padding-top: 200px;
            padding-left: 600px;
            }
    }
    }
    footer{
        width: 100%;
        height: 450px;  
        background-color: #021934; 
        .foot-text{
       svg{
       margin-top: 70px;
       }
       p{
       color: #fff;
       width: 440px;
       padding-top: 30px;
       }
       h4{
           padding-top: 180px;
       color: #fff;
       }
       }
       .foot-page{
           margin-top: -300px;
           padding-left: 600px;
       a{
           padding-top: 20px;
       display: block;
       }
       }
           }
           .foot-pages{
               margin-top: -200px;
               padding-left: 800px;
           a{
               padding-top: 20px;
           display: block;
           }
           }
           .foot-pageing{
               margin-top: -200px;
               padding-left: 1000px;
           a{
               padding-top: 20px;
           display: block;
           }
           }
           .foot-pageees{
               margin-top: -200px;
               padding-left: 1200px;
           a{
               padding-top: 20px;
           display: block;
           }
           }